h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 800;
  color: var(--c-type-1);
}

h2 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 800;
  color: var(--c-type-1);
}

h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: var(--c-type-0);
  margin: 14px 0;
}

p {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: var(--c-type-0);
}

// Forms
label {
  font-size: 18p;
  line-height: 26px;
  font-weight: normal;
  color: var(--c-type-1);
}

textarea {
  resize: none;
  border: none;
  background-color: var(--c-primary-1);
  font-size: 16px;
  line-height: 21px;
  padding: 16px;
  border-radius: 5px;
}

input {
  background-color: var(--c-primary-1);
  border: none;
  font-size: 16px;
  line-height: 21px;
  padding: 16px;
  border-radius: 5px;
}
